body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}
img{
	height:30%;
	width:30%;
}
h2 {
  margin-left: 50px;
  padding-bottom:40px;
  font-weight:bold;
}
h2 span{
	color:#DBC643;  
	font-weight:bold;
}
h4 {
	font-size:11px;
	font-weight: 200;
}
h3 {
	font-size:11px;
	font-weight:200;
	padding-bottom:15px;
}
h3 span{
	color:red;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size:15px;
}
label span{
	color:red;
}
input[type="text"],
input[type="email"],
input[type="tel"]{
  padding-top:15px;
  padding-left: 30px;
  padding-bottom:40px;
  border:none;
  font-size:13px;
}
select {
  padding-top:15px;
  padding-left: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  font-size:13px;
}
/* For input fields */
input::placeholder {
	color: black; /* Change the color to black */
	font-size:13px;
}

/* For textarea */
textarea::placeholder {
	color: black; /* Change the color to black */
}
.footer {
	max-width: 600px;
	margin: 50px auto;
	padding-top: 50px;
	background-color: #fff;
}
.footer img{
	height:20%;
	width:20%;
	margin:5px;
}
.footer p{
	font-size:10px;
	margin:5px;
}
.footer p span{
	color:blue;
}
